html {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  letter-spacing: -0.011em;
  line-height: 22px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}
@supports (font-variation-settings: normal) {
  html {
    font-family: 'Inter var', sans-serif;
  }
}
h1 {
  font-size: 18px;
  letter-spacing: -0.014em;
  line-height: 25px;
  font-weight: 600;
}
small {
  font-size: 12px;
  letter-spacing: 0em;
  line-height: 17px;
}