.btn-text {
  font: inherit;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.z {
  -webkit-transform: translatez(0);
  -moz-transform: translatez(0);
  -ms-transform: translatez(0);
  transform: translatez(0);
}